*{
    font-family: Arial, Helvetica, sans-serif;
}
.maincontainer{
  width: 500px;
}
#main-heading{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 10px;
    
}
/* .listcontainer{
    display: grid;
    grid-template-columns:200px 150px 100px ;
    column-gap: 20px;
    row-gap: 10px;
} */
#todo_input{
    font-size: 14px;
    padding: 10px 5px;
}
#btn-todo{
background-color: steelblue;
border:1px solid black;
    border: 1px;
}
#btn-delete{
    border:1px solid black;
    border: 1px;
    padding: 10px 5px;
    background-color: cadetblue;
}